Cellulose: (C6H10O5)n
Cellohexaose: C36H62O31

1g cellulose -> 180.16/(12.01*6+10*1.00794+16*5)= 1.11g glucose
1g cellohexaose -> 180.16/(12.01*36+62*1.00794+16*31)*6= 1.09g glucose
1g cellulose -> 1.11/1.09=1.02g cellohexaose

In [4]:
180.16/(12.01*6+10*1.00794+16*5)

1.1111426340544002

In [5]:
180.16/(12.01*36+62*1.00794+16*31)*6

1.0909396100900126

In [6]:
1.11/1.09

1.0183486238532111

Title: Physiological and molecular characterizations of the interactions in two cellulose-to-methane cocultures
table 1
100ml medium
consume 235mg cellulose in total
in first 3 day comsume (3-1.9)*0.1*1000=110mg   
Cellulose degradation rate 110/3=36.67mg/day -> 0.038 mM/day cellohexaose
H2 production rate 0.32/3=0.107 mM/day

In [11]:
36.67/1000*1.02/(12.01*36+62*1.00794+16*31)*1000

0.03774871467218101

Formate 5.2/3=1.73 mM/day
Acetate 1.5/3=0.5 mM/day
Butyrate 3.4/3=1.13 mM/day
Lactate 0.75/3=0.25 mM/day

Cell density 6E8/3=2E8 cells/ml/day

In [82]:
# summary cellohexaose
import pandas as pd
import numpy as np
Metabolites=["Cellohexaose","Hydrogen","Formate","Acetate","Butyrate","Lactate"]
Flux=np.array([0.038,0.107,1.73,0.5,1.13,0.25])
Flux_relative=Flux/0.038
experiment_estimate=pd.DataFrame.from_dict({
    "Metabolites":Metabolites,
    "Flux":Flux,
    "Flux_relative":Flux_relative
})
experiment_estimate

    Metabolites   Flux  Flux_relative
0  Cellohexaose  0.038       1.000000
1      Hydrogen  0.107       2.815789
2       Formate  1.730      45.526316
3       Acetate  0.500      13.157895
4      Butyrate  1.130      29.736842
5       Lactate  0.250       6.578947

In [81]:
# caculate as cellulose C6H10O5 36.67 mg/day
36.67/1000/(12.01*6+10*1.00794+16*5)*1000
# Cellulose degradation rate 0.226 mM/day

0.2261634124709972

In [85]:
Metabolites=["Cellulose","Hydrogen","Formate","Acetate","Butyrate","Lactate"]
Flux=np.array([0.226,0.107,1.73,0.5,1.13,0.25])
Flux_relative=Flux/0.226
experiment_estimate=pd.DataFrame.from_dict({
    "Metabolites":Metabolites,
    "Flux":Flux,
    "Flux_relative":Flux_relative
})
experiment_estimate

  Metabolites   Flux  Flux_relative
0   Cellulose  0.650       1.000000
1    Hydrogen  0.107       0.164615
2     Formate  1.730       2.661538
3     Acetate  0.500       0.769231
4    Butyrate  1.130       1.738462
5     Lactate  0.250       0.384615

In [86]:
# 117 mg/day Cellulose degradation
117/1000/(12*6+12+6*16)*1000
# Cellulose degradation rate 0.65 mM/day

0.6500000000000001

In [87]:
Metabolites=["Cellulose","Hydrogen","Formate","Acetate","Butyrate","Lactate"]
Flux=np.array([0.65,0.107,1.73,0.5,1.13,0.25])
Flux_relative=Flux/0.65
experiment_estimate=pd.DataFrame.from_dict({
    "Metabolites":Metabolites,
    "Flux":Flux,
    "Flux_relative":Flux_relative
})
experiment_estimate

  Metabolites   Flux  Flux_relative
0   Cellulose  0.650       1.000000
1    Hydrogen  0.107       0.164615
2     Formate  1.730       2.661538
3     Acetate  0.500       0.769231
4    Butyrate  1.130       1.738462
5     Lactate  0.250       0.384615

In [12]:
import cobra.test
import cobra.io
from cobra.sampling import sample

In [41]:
%%capture
cellulose=cobra.io.read_sbml_model("cellulose_repaired.xml")

In [77]:
# cellulose.reactions.EXC_IN_m97.lower_bound=1.0517
# cellulose.reactions.EXC_IN_m97.lower_bound=1.078
# lb and up should in this range
co = cellulose.problem.Constraint(cellulose.reactions.EXC_IN_m97.flux_expression, lb=1)
cellulose.add_cons_vars([co])
s = sample(cellulose, 10)
exc=s.loc[:,['EXC_IN_m97','EXC_OUT_m55','EXC_OUT_m53','EXC_OUT_m52']]
exc.columns=['Cellohexaose','Hydrogen','Formate','Acetate']
exc

   Cellohexaose   Hydrogen   Formate   Acetate
0      1.076187  11.371858  1.389743  3.269916
1      1.075188  11.307028  1.389748  3.275080
2      1.074490   7.670890  1.388870  3.459505
3      1.075535   7.309338  1.388687  3.440319
4      1.077550   7.780128  1.388687  3.442609
5      1.076340   7.624504  1.388585  3.442134
6      1.076700   7.167789  1.388404  3.430729
7      1.077950   7.059804  1.388396  3.421030
8      1.077291   6.563739  1.387899  3.393702
9      1.077288   6.596791  1.387495  3.397676

In [66]:
%%capture
cellulose=cobra.io.read_sbml_model("cellulose_repaired.xml")

In [67]:
# no constrain
solution=test.optimize()
df=pd.DataFrame()
df[1]=pd.Series({'Metabolites': 'Cellohexaose', 'Flux':solution.fluxes.EXC_IN_m97}) 
df[2]=pd.Series({'Metabolites': 'Hydrogen', 'Flux':solution.fluxes.EXC_OUT_m55}) 
df[3]=pd.Series({'Metabolites': 'Formate', 'Flux':solution.fluxes.EXC_OUT_m53})
df[4]=pd.Series({'Metabolites': 'Acetate', 'Flux':solution.fluxes.EXC_OUT_m52})
df[5]=pd.Series({'Metabolites': 'Biomass', 'Flux':solution.fluxes.R_BIO})
df.T

    Metabolites      Flux
1  Cellohexaose     1.078
2      Hydrogen   7.56674
3       Formate      1.39
4       Acetate      3.55
5       Biomass  0.305473

In [65]:
# constrain of Cellohexaose 
with cellulose as test:
    test.reactions.EXC_IN_m97.lower_bound=1
    test.reactions.EXC_IN_m97.upper_bound=1
    solution=test.optimize()
    df=pd.DataFrame()
    df[1]=pd.Series({'Metabolites': 'Cellohexaose', 'Flux':solution.fluxes.EXC_IN_m97}) 
    df[2]=pd.Series({'Metabolites': 'Hydrogen', 'Flux':solution.fluxes.EXC_OUT_m55}) 
    df[3]=pd.Series({'Metabolites': 'Formate', 'Flux':solution.fluxes.EXC_OUT_m53})
    df[4]=pd.Series({'Metabolites': 'Acetate', 'Flux':solution.fluxes.EXC_OUT_m52})
    df[5]=pd.Series({'Metabolites': 'Biomass', 'Flux':solution.fluxes.R_BIO})
    print(df.T)

    Metabolites      Flux
1  Cellohexaose         1
2      Hydrogen    7.4377
3       Formate      1.39
4       Acetate      3.55
5       Biomass  0.284243

In [68]:
# constrain of Cellohexaose and Hydrogen
with cellulose as test:
    test.reactions.EXC_IN_m97.lower_bound=1
    test.reactions.EXC_IN_m97.upper_bound=1
    test.reactions.EXC_OUT_m55.lower_bound=2.815789
    test.reactions.EXC_OUT_m55.upper_bound=2.815789
    solution=test.optimize()
    df=pd.DataFrame()
    df[1]=pd.Series({'Metabolites': 'Cellohexaose', 'Flux':solution.fluxes.EXC_IN_m97}) 
    df[2]=pd.Series({'Metabolites': 'Hydrogen', 'Flux':solution.fluxes.EXC_OUT_m55}) 
    df[3]=pd.Series({'Metabolites': 'Formate', 'Flux':solution.fluxes.EXC_OUT_m53})
    df[4]=pd.Series({'Metabolites': 'Acetate', 'Flux':solution.fluxes.EXC_OUT_m52})
    df[5]=pd.Series({'Metabolites': 'Biomass', 'Flux':solution.fluxes.R_BIO})
    print(df.T)

    Metabolites      Flux
1  Cellohexaose         1
2      Hydrogen   2.81579
3       Formate      1.39
4       Acetate      3.25
5       Biomass  0.224399

In [69]:
# constrain of Cellohexaose and Hyrogen Formate
with cellulose as test:
    test.reactions.EXC_IN_m97.lower_bound=1
    test.reactions.EXC_IN_m97.upper_bound=1
    test.reactions.EXC_OUT_m55.lower_bound=2.815789
    test.reactions.EXC_OUT_m55.upper_bound=2.815789
    test.reactions.EXC_OUT_m53.lower_bound=45.526316
    test.reactions.EXC_OUT_m53.upper_bound=45.526316
    solution=test.optimize()
    df=pd.DataFrame()
    df[1]=pd.Series({'Metabolites': 'Cellohexaose', 'Flux':solution.fluxes.EXC_IN_m97}) 
    df[2]=pd.Series({'Metabolites': 'Hydrogen', 'Flux':solution.fluxes.EXC_OUT_m55}) 
    df[3]=pd.Series({'Metabolites': 'Formate', 'Flux':solution.fluxes.EXC_OUT_m53})
    df[4]=pd.Series({'Metabolites': 'Acetate', 'Flux':solution.fluxes.EXC_OUT_m52})
    df[5]=pd.Series({'Metabolites': 'Biomass', 'Flux':solution.fluxes.R_BIO})
    print(df.T)

    Metabolites         Flux
1  Cellohexaose            1
2      Hydrogen      2.81579
3       Formate      45.5263
4       Acetate         3.55
5       Biomass -1.79092e-14

cobra/util/solver.py:416 UserWarning: solver status is 'infeasible'

In [73]:
cellulose.metabolites.get_by_id("m97[C_e]")

In [80]:
cellulose.reactions.T_e_to_c_C06217_c