In [1]:
%matplotlib inline
import pandas as pd
import lxml
import dask.dataframe as dd
from pandas_plink import read_plink
import numpy as np

In [ ]:
phenotypes=dd.read_csv("/work/biobank/ukb_data/ukbt_maindf.csv")

In [ ]:
for i in phenotypes.columns.values:
    if ("Name" in i):
        print(i)

In [ ]:
phenotypes.columns.values

In [ ]:
pheno=pd.read_csv("/work/biobank/ukb_data/ukbt_maindf.csv", usecols=["eid","age_diabetes_diagnosed_f2976_0_0","age_diabetes_diagnosed_f2976_1_0","age_diabetes_diagnosed_f2976_2_0","age_diabetes_diagnosed_f2976_3_0"],low_memory=False)

In [ ]:
a1=pheno[pheno["age_diabetes_diagnosed_f2976_0_0"].notna()][["eid"]]

In [ ]:
a2=pheno[pheno["age_diabetes_diagnosed_f2976_1_0"].notna()][["eid"]]

In [ ]:
a3=pheno[pheno["age_diabetes_diagnosed_f2976_2_0"].notna()][["eid"]]

In [ ]:
a4=pheno[pheno["age_diabetes_diagnosed_f2976_3_0"].notna()][["eid"]]

In [ ]:
a5=pheno[pheno["age_diabetes_diagnosed_f2976_3_0"].notna()][["eid"]]

In [ ]:
a6=pheno[pheno["age_diabetes_diagnosed_f2976_3_0"].notna()][["eid"]]

In [ ]:
a7=pheno[pheno["age_diabetes_diagnosed_f2976_3_0"].notna()][["eid"]]

In [13]:
a8=pheno[pheno["age_diabetes_diagnosed_f2976_3_0"].notna()][["eid"]]

In [14]:
eids=pd.concat([a1,a2,a3,a4],axis=0)#a5,a6,a7,a8],axis=0)

In [15]:
eids=eids.astype(str)

In [2]:
(bim,fam,bed)=read_plink("/work/biobank/ukb_data/GenData/plink")

Mapping files: 100%|██████████| 3/3 [04:29<00:00, 82.28s/it]

In [3]:
bed.shape

(805426, 488377)

In [18]:
#eids.columns=["iid"]

In [19]:
#fam[["iid"]].merge(eids[["iid"]],on="iid")

In [20]:

print(fam[fam["iid"] =="2900646"])

            fid      iid father mother gender          trait       i
464637  2900646  2900646      0      0      1  UKBiLEVEAX_b6  464637

In [21]:
x=["20002-"+str(j)+"."+str(i) for j in range(4) for i in range(34)]
y=["41202-0."+str(i) for i in range(66)]
z=["41204-0."+str(i) for i in range(184)]

In [22]:
#x=["50-"+str(j)+".0" for j in range(4)]

In [23]:
#print(x)

In [4]:
pd.read_csv("/work/biobank/ukb_data/ukb38722.csv",usecols=["eid"]+x+y+z,low_memory=False)
pheno=pheno.set_index("eid")
pheno.fillna(-1,inplace=True)
p=pheno[pheno["50-0.0"]!=-1]
print(p["50-0.0"])

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 43: invalid start byte

In [ ]:
pheno

In [26]:
#(bim,fam2,bed)=read_plink("/work/biobank/ukb_data/scripts/heights")

In [27]:
#pd.DataFrame(np.array([p.index.values,p.index.values]).T.astype(int)).to_csv("/work/biobank/ukb_data/scripts/phenoids.txt",sep="\t",header=False,index=False)

In [28]:
#np.savetxt('/work/biobank/ukb_data/scripts/phenoids.csv', np.array([p.index.values,p.index.values]).T.astype(int), delimiter='\t')

In [29]:
#fam2

In [30]:
#p["50-0.0"].rename_axis("fid")

In [31]:
#fam["fid"]=fam["fid"].astype(int)

In [32]:
#fam.set_index("fid",inplace=True)

In [33]:
#s=p["50-0.0"].rename_axis("fid")

In [34]:
#s.index

In [35]:
#pd.DataFrame(np.array([s]).T).boxplot(column=[0])

In [36]:
"""Size"""
#fam["trait"]=s

'Size'

In [37]:
#fam

In [38]:
#fam.reset_index()

In [39]:
#fam.reset_index().to_csv("/work/biobank/ukb_data/scripts/heights.fam",header=False,index=False,sep="\t")

In [58]:
"""Diabetes"""
diabetes=[]
diabetes_41202=[]
length=pheno.index.values.shape[0]
c=1
for i in pheno.index.values:
    print("%d/%d index "%(c,length),end='\r')
    s=pheno.loc[i,:]
    if not (s[s==1223].empty) or (not s[s.str.match("E11*").fillna(False)].empty):
        diabetes.append(i)
    
    c+=1

In [62]:
#pd.DataFrame(diabetes).to_csv("/work/biobank/ukb_data/indiv_diab.csv",header=False,index=False,sep="\t")

In [4]:
diabetes=pd.read_csv("/work/biobank/ukb_data/indiv_diab.csv",header=None,sep="\t").T.values[0]

In [5]:
len(diabetes)

32884

In [6]:
diabetes

array([1000118, 1000159, 1000707, ..., 6024936, 6024955, 6025175])

In [8]:
#fam.loc[diabetes,"trait"]

In [9]:
fam["fid"]=fam["fid"].astype(int)
fam=fam.set_index("fid")

In [ ]:
#fam.loc[diabetes,"trait"]=1

In [57]:
c=0
missing=0
l=len(fam.index.values)
for i in fam.index.values:
    print("%d/%d index "%(c,l),end='\r')
    if i in diabetes:
        try:
            fam.loc[i,"trait"]=1
        except:
            missing+=1
    else:
        fam.loc[i,"trait"]=0
    c+=1

548/488377 index

KeyboardInterrupt:

In [17]:
missing=0
c=0
for i in diabetes:
    print("%d/%d index "%(c,len(diabetes)),end='\r')
    #print(i)
    try:
        #print(fam.loc[i])
        fam.loc[i,"trait"]=1
    except:
        missing+=1
    c+=1

In [37]:
fam=fam[fam['father'].notnull()]

In [38]:
fam[fam["trait"]!=1]=0

/home/adbadre/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/oscer/software/pandas/0.21.0-foss-2018a-Python-3.6.4/lib/python3.6/site-packages/pandas-0.21.0-py3.6-linux-x86_64.egg/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

ValueError: Cannot setitem on a Categorical with a new category, set the categories first

In [48]:
ind=fam[fam["trait"]!=1].index.values

In [49]:
fam.loc[ind,"trait"]=0

In [52]:
fam[fam["trait"]==0]

        iid father mother gender  trait         i
fid
1457772   0      0      0      1      0       0.0
3235882   0      0      0      2      0       1.0
1860657   0      0      0      2      0       2.0
1801526   0      0      0      2      0       3.0
2095302   0      0      0      2      0       4.0
4249583   0      0      0      1      0       5.0
3906633   0      0      0      2      0       6.0
3492308   0      0      0      2      0       7.0
4843892   0      0      0      1      0       8.0
4067386   0      0      0      2      0       9.0
5401786   0      0      0      2      0      10.0
5696888   0      0      0      2      0      11.0
3959531   0      0      0      2      0      12.0
5951240   0      0      0      1      0      13.0
1060819   0      0      0      2      0      14.0
5471075   0      0      0      1      0      15.0
2982754   0      0      0      2      0      16.0
4011159   0      0      0      1      0      17.0
3012560   0      0      0      2      0      18.0
3767515   0      0      0      1      0      19.0
4818941   0      0      0      1      0      20.0
5411325   0      0      0      1      0      21.0
5477067   0      0      0      1      0      22.0
1818297   0      0      0      2      0      23.0
2472106   0      0      0      2      0      24.0
3144114   0      0      0      1      0      25.0
4400291   0      0      0      2      0      26.0
3320663   0      0      0      1      0      27.0
2033657   0      0      0      2      0      28.0
2873449   0      0      0      1      0      29.0
...      ..    ...    ...    ...    ...       ...
5833138   0      0      0      1      0  488346.0
2983417   0      0      0      1      0  488347.0
3437934   0      0      0      2      0  488348.0
4124620   0      0      0      2      0  488349.0
3084609   0      0      0      2      0  488350.0
4676192   0      0      0      1      0  488351.0
1508711   0      0      0      1      0  488352.0
4567583   0      0      0      1      0  488353.0
2657899   0      0      0      2      0  488355.0
4389880   0      0      0      2      0  488356.0
2416868   0      0      0      2      0  488357.0
5824274   0      0      0      1      0  488358.0
3423560   0      0      0      2      0  488359.0
5519530   0      0      0      2      0  488360.0
2451297   0      0      0      2      0  488361.0
2641287   0      0      0      2      0  488362.0
4476009   0      0      0      1      0  488363.0
3906301   0      0      0      1      0  488364.0
4083650   0      0      0      2      0  488365.0
1102349   0      0      0      2      0  488366.0
2488423   0      0      0      2      0  488367.0
2016050   0      0      0      1      0  488368.0
4465426   0      0      0      1      0  488369.0
3332446   0      0      0      1      0  488370.0
3052865   0      0      0      1      0  488371.0
4505504   0      0      0      2      0  488372.0
5872228   0      0      0      2      0  488373.0
2259085   0      0      0      1      0  488374.0
3457488   0      0      0      2      0  488375.0
3664202   0      0      0      1      0  488376.0

[456677 rows x 6 columns]

In [53]:
fam.reset_index()

            fid      iid father mother gender  trait         i
0       1457772        0      0      0      1      0       0.0
1       3235882        0      0      0      2      0       1.0
2       1860657        0      0      0      2      0       2.0
3       1801526        0      0      0      2      0       3.0
4       2095302        0      0      0      2      0       4.0
5       4249583        0      0      0      1      0       5.0
6       3906633        0      0      0      2      0       6.0
7       3492308        0      0      0      2      0       7.0
8       4843892        0      0      0      1      0       8.0
9       4067386        0      0      0      2      0       9.0
10      5401786        0      0      0      2      0      10.0
11      5696888        0      0      0      2      0      11.0
12      3959531        0      0      0      2      0      12.0
13      5951240        0      0      0      1      0      13.0
14      1060819        0      0      0      2      0      14.0
15      5471075        0      0      0      1      0      15.0
16      2982754        0      0      0      2      0      16.0
17      4011159        0      0      0      1      0      17.0
18      3012560        0      0      0      2      0      18.0
19      3767515        0      0      0      1      0      19.0
20      4818941        0      0      0      1      0      20.0
21      5411325        0      0      0      1      0      21.0
22      5477067        0      0      0      1      0      22.0
23      1818297        0      0      0      2      0      23.0
24      2472106        0      0      0      2      0      24.0
25      3144114        0      0      0      1      0      25.0
26      4400291        0      0      0      2      0      26.0
27      3320663        0      0      0      1      0      27.0
28      2033657        0      0      0      2      0      28.0
29      2873449        0      0      0      1      0      29.0
...         ...      ...    ...    ...    ...    ...       ...
488347  2983417        0      0      0      1      0  488347.0
488348  3437934        0      0      0      2      0  488348.0
488349  4124620        0      0      0      2      0  488349.0
488350  3084609        0      0      0      2      0  488350.0
488351  4676192        0      0      0      1      0  488351.0
488352  1508711        0      0      0      1      0  488352.0
488353  4567583        0      0      0      1      0  488353.0
488354  2509438  2509438      0      0      2      1  488354.0
488355  2657899        0      0      0      2      0  488355.0
488356  4389880        0      0      0      2      0  488356.0
488357  2416868        0      0      0      2      0  488357.0
488358  5824274        0      0      0      1      0  488358.0
488359  3423560        0      0      0      2      0  488359.0
488360  5519530        0      0      0      2      0  488360.0
488361  2451297        0      0      0      2      0  488361.0
488362  2641287        0      0      0      2      0  488362.0
488363  4476009        0      0      0      1      0  488363.0
488364  3906301        0      0      0      1      0  488364.0
488365  4083650        0      0      0      2      0  488365.0
488366  1102349        0      0      0      2      0  488366.0
488367  2488423        0      0      0      2      0  488367.0
488368  2016050        0      0      0      1      0  488368.0
488369  4465426        0      0      0      1      0  488369.0
488370  3332446        0      0      0      1      0  488370.0
488371  3052865        0      0      0      1      0  488371.0
488372  4505504        0      0      0      2      0  488372.0
488373  5872228        0      0      0      2      0  488373.0
488374  2259085        0      0      0      1      0  488374.0
488375  3457488        0      0      0      2      0  488375.0
488376  3664202        0      0      0      1      0  488376.0

[488377 rows x 7 columns]

In [ ]:
pheno[pheno["42004-0.0"].notnull()]

In [110]:
a=pd.DataFrame([diabetes]).T
a.columns=["iid"]
a=a.astype(str)

In [54]:
fam2=fam

In [56]:
(bim,fam,bed)=read_plink("/work/biobank/ukb_data/GenData/plink")

Mapping files: 100%|██████████| 3/3 [04:55<00:00, 88.78s/it]

In [55]:
fam.reset_index().to_csv("/work/biobank/ukb_data/scripts/diab.fam",header=False,index=False,sep="\t")

In [61]:
fam

            fid      iid father mother gender           trait       i
0       1457772  1457772      0      0      1      Batch_b001       0
1       3235882  3235882      0      0      2      Batch_b001       1
2       1860657  1860657      0      0      2      Batch_b001       2
3       1801526  1801526      0      0      2      Batch_b001       3
4       2095302  2095302      0      0      2      Batch_b001       4
5       4249583  4249583      0      0      1      Batch_b001       5
6       3906633  3906633      0      0      2      Batch_b001       6
7       3492308  3492308      0      0      2      Batch_b001       7
8       4843892  4843892      0      0      1      Batch_b001       8
9       4067386  4067386      0      0      2      Batch_b001       9
10      5401786  5401786      0      0      2      Batch_b001      10
11      5696888  5696888      0      0      2      Batch_b001      11
12      3959531  3959531      0      0      2      Batch_b001      12
13      5951240  5951240      0      0      1      Batch_b001      13
14      1060819  1060819      0      0      2      Batch_b001      14
15      5471075  5471075      0      0      1      Batch_b001      15
16      2982754  2982754      0      0      2      Batch_b001      16
17      4011159  4011159      0      0      1      Batch_b001      17
18      3012560  3012560      0      0      2      Batch_b001      18
19      3767515  3767515      0      0      1      Batch_b001      19
20      4818941  4818941      0      0      1      Batch_b001      20
21      5411325  5411325      0      0      1      Batch_b001      21
22      5477067  5477067      0      0      1      Batch_b001      22
23      1818297  1818297      0      0      2      Batch_b001      23
24      2472106  2472106      0      0      2      Batch_b001      24
25      3144114  3144114      0      0      1      Batch_b001      25
26      4400291  4400291      0      0      2      Batch_b001      26
27      3320663  3320663      0      0      1      Batch_b001      27
28      2033657  2033657      0      0      2      Batch_b001      28
29      2873449  2873449      0      0      1      Batch_b001      29
...         ...      ...    ...    ...    ...             ...     ...
488347  2983417  2983417      0      0      1  UKBiLEVEAX_b11  488347
488348  3437934  3437934      0      0      2  UKBiLEVEAX_b11  488348
488349  4124620  4124620      0      0      2  UKBiLEVEAX_b11  488349
488350  3084609  3084609      0      0      2  UKBiLEVEAX_b11  488350
488351  4676192  4676192      0      0      1  UKBiLEVEAX_b11  488351
488352  1508711  1508711      0      0      1  UKBiLEVEAX_b11  488352
488353  4567583  4567583      0      0      1  UKBiLEVEAX_b11  488353
488354  2509438  2509438      0      0      2  UKBiLEVEAX_b11  488354
488355  2657899  2657899      0      0      2  UKBiLEVEAX_b11  488355
488356  4389880  4389880      0      0      2  UKBiLEVEAX_b11  488356
488357  2416868  2416868      0      0      2  UKBiLEVEAX_b11  488357
488358  5824274  5824274      0      0      1  UKBiLEVEAX_b11  488358
488359  3423560  3423560      0      0      2  UKBiLEVEAX_b11  488359
488360  5519530  5519530      0      0      2  UKBiLEVEAX_b11  488360
488361  2451297  2451297      0      0      2  UKBiLEVEAX_b11  488361
488362  2641287  2641287      0      0      2  UKBiLEVEAX_b11  488362
488363  4476009  4476009      0      0      1  UKBiLEVEAX_b11  488363
488364  3906301  3906301      0      0      1  UKBiLEVEAX_b11  488364
488365  4083650  4083650      0      0      2  UKBiLEVEAX_b11  488365
488366  1102349  1102349      0      0      2  UKBiLEVEAX_b11  488366
488367  2488423  2488423      0      0      2  UKBiLEVEAX_b11  488367
488368  2016050  2016050      0      0      1  UKBiLEVEAX_b11  488368
488369  4465426  4465426      0      0      1  UKBiLEVEAX_b11  488369
488370  3332446  3332446      0      0      1  UKBiLEVEAX_b11  488370
488371  3052865  3052865      0      0      1  UKBiLEVEAX_b11  488371
488372  4505504  4505504      0      0      2  UKBiLEVEAX_b11  488372
488373  5872228  5872228      0      0      2  UKBiLEVEAX_b11  488373
488374  2259085  2259085      0      0      1  UKBiLEVEAX_b11  488374
488375  3457488  3457488      0      0      2  UKBiLEVEAX_b11  488375
488376  3664202  3664202      0      0      1  UKBiLEVEAX_b11  488376

[488377 rows x 7 columns]

In [60]:
fam2.reset_index()

            fid      iid father mother gender  trait         i
0       1457772        0      0      0      1      0       0.0
1       3235882        0      0      0      2      0       1.0
2       1860657        0      0      0      2      0       2.0
3       1801526        0      0      0      2      0       3.0
4       2095302        0      0      0      2      0       4.0
5       4249583        0      0      0      1      0       5.0
6       3906633        0      0      0      2      0       6.0
7       3492308        0      0      0      2      0       7.0
8       4843892        0      0      0      1      0       8.0
9       4067386        0      0      0      2      0       9.0
10      5401786        0      0      0      2      0      10.0
11      5696888        0      0      0      2      0      11.0
12      3959531        0      0      0      2      0      12.0
13      5951240        0      0      0      1      0      13.0
14      1060819        0      0      0      2      0      14.0
15      5471075        0      0      0      1      0      15.0
16      2982754        0      0      0      2      0      16.0
17      4011159        0      0      0      1      0      17.0
18      3012560        0      0      0      2      0      18.0
19      3767515        0      0      0      1      0      19.0
20      4818941        0      0      0      1      0      20.0
21      5411325        0      0      0      1      0      21.0
22      5477067        0      0      0      1      0      22.0
23      1818297        0      0      0      2      0      23.0
24      2472106        0      0      0      2      0      24.0
25      3144114        0      0      0      1      0      25.0
26      4400291        0      0      0      2      0      26.0
27      3320663        0      0      0      1      0      27.0
28      2033657        0      0      0      2      0      28.0
29      2873449        0      0      0      1      0      29.0
...         ...      ...    ...    ...    ...    ...       ...
488347  2983417        0      0      0      1      0  488347.0
488348  3437934        0      0      0      2      0  488348.0
488349  4124620        0      0      0      2      0  488349.0
488350  3084609        0      0      0      2      0  488350.0
488351  4676192        0      0      0      1      0  488351.0
488352  1508711        0      0      0      1      0  488352.0
488353  4567583        0      0      0      1      0  488353.0
488354  2509438  2509438      0      0      2      1  488354.0
488355  2657899        0      0      0      2      0  488355.0
488356  4389880        0      0      0      2      0  488356.0
488357  2416868        0      0      0      2      0  488357.0
488358  5824274        0      0      0      1      0  488358.0
488359  3423560        0      0      0      2      0  488359.0
488360  5519530        0      0      0      2      0  488360.0
488361  2451297        0      0      0      2      0  488361.0
488362  2641287        0      0      0      2      0  488362.0
488363  4476009        0      0      0      1      0  488363.0
488364  3906301        0      0      0      1      0  488364.0
488365  4083650        0      0      0      2      0  488365.0
488366  1102349        0      0      0      2      0  488366.0
488367  2488423        0      0      0      2      0  488367.0
488368  2016050        0      0      0      1      0  488368.0
488369  4465426        0      0      0      1      0  488369.0
488370  3332446        0      0      0      1      0  488370.0
488371  3052865        0      0      0      1      0  488371.0
488372  4505504        0      0      0      2      0  488372.0
488373  5872228        0      0      0      2      0  488373.0
488374  2259085        0      0      0      1      0  488374.0
488375  3457488        0      0      0      2      0  488375.0
488376  3664202        0      0      0      1      0  488376.0

[488377 rows x 7 columns]